<div class="sidebar">
    <div class="container">
    <div class="sidebar-about">
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

<!--      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
      <li class="sidebar-nav-item">Currently v{{ site.version }}</li>-->
    </ul>

    <div>
        <p>My Books</p>
        <a href="http://bit.ly/1yPlraY" target="_blank"><img style="max-height:160px;float:left" src="https://dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/6713OS_Redis%20Applied%20Design%20Patterns_Cover.jpg"></a>
        <a href="https://www.packtpub.com/big-data-and-business-intelligence/instant-redis-optimization-how-instant" target="_blank"><img style="max-height:160px;float:right" src="https://dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/4807OS_cov.jpg"></a>
    </div>
    <!--    <p>&copy; {{ site.time | date: '%Y' }}.Arun Chinnachamy - All rights reserved.</p>-->
  </div>
</div>
